<section class="footer">
    <div class="inner">
        <p>
            &copy; 2025 <strong>The Headless Company</strong>, which is a trading name of Astounding
            Agency Limited. Company no. 15922174
        </p>
    </div>
</section>

<style>
    .footer {
        background: var(--color-black);
    }
    .inner {
        padding: 3rem 2rem 3rem;
        margin: 0 auto;
    }
    p {
        font-size: var(--text-sm);
        color: var(--color-grey-light);
    }
    strong {
        font-weight: unset;
        color: var(--color-red);
    }
</style>
